
#container {
   display: grid;
   height: 500px;
   width: 500px;
   background-color: orange;
}

.cell {
    justify-self: stretch;
    border: 1px solid rgba(128, 128, 128, 0.205);
    background-color: white;
}