
#container {
   display: grid;
   height: 500px;
   width: 500px;
   background-color: rgb(255, 255, 255);
}

.cell {
    justify-self: stretch;
    border: 0.1px solid rgba(212, 212, 212, 0.205);
    background-color: white;
}