body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color:rgb(46, 92, 129) ;
}

h1 {
    font-size: 40px;
}


.head{
    text-align: center;
    height: 75px;
}

a {
    position:relative;
    text-align: center;
    top: -30px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

/*grid styling*/
#container {
    margin: auto;
    display: grid;
    height: 650px;
    width: 650px;
    background-color: white;
    border: 3px solid rgba(212, 212, 212, 0.205);
    border-radius: 4px;
    box-shadow: 0px 0px 0 10px rgb(25, 47, 65);
    opacity: 1;
    cursor: pointer;
}

.cell {
    justify-self: stretch;
    border: 0.1px solid rgba(212, 212, 212, 0.205);
    background-color: white;
    transition: 0.4s;
}

/*options styling*/
.optionsmenu {
    margin: auto;
}

/*grid options styling*/
.optionscontainer {
    margin: auto;
    width: 700px;
    height: 60px;
    display: flex;
}

.sizingcontainer {
    margin: auto;
    width: 400px;
    transform: translateX(-15px);
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 20px;
    border-radius: 20px;
    background: white;
    outline: none;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: rgb(25, 47, 65);
    cursor: pointer;
  }

#slider::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 0 1px rgb(25, 47, 65);
  }

.clearcontainer {
    margin: auto;
    transform: translateX(-15px);
}

#clear {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 30px;
    width: 70px;
    color: white;
    background: rgb(25, 47, 65);
    font-size: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#clear:hover {
    box-shadow: 0px 0px 0 1px rgb(25, 47, 65);
}

/*colour and special options styling*/
.gridoptions {
    margin: auto;
    width: 500px;  
    display: flex;
}

.colorpicker {
    text-align: center;
    width: 33%;
}

.colorpickertext{
    height: 30px;
}

#color{
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
}

.specialcontainer {
    
    width: 66%;
    display: flex;

}

.rainbow {
    margin: auto;
    width: 50%;
    text-align: center;
}

.transparency {
    margin: auto;
    width: 50%;
    text-align: center;
}

.checkbox {
    height: 35px;
    width: 20px;
    cursor: pointer;
}
